{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="diplay-1 text-center">Django App</h1>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iure officiis error mollitia. Magnam earum numquam qui saepe ad quod ipsa sapiente illum vel provident. Illo voluptatem, adipisci ullam enim eum cum odit, aut saepe laudantium impedit pariatur ab ea ipsam maiores repudiandae nihil nam facere eos quibusdam. Recusandae eum quia laudantium officiis, neque voluptatum nobis accusamus soluta corrupti, exercitationem ex consectetur non similique perspiciatis voluptatibus repudiandae impedit quidem! Ea at esse suscipit voluptatibus nisi magni laudantium, blanditiis distinctio, quam asperiores ullam a veniam eos cupiditate consequuntur numquam tempora facere quas amet ratione reiciendis fuga, porro dolor. Exercitationem, debitis explicabo.
            </p>
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>

            </div>
    </section>
</main>



{% endblock %}
